fastapi
uvicorn
motor
passlib
bcrypt
python-multipart
python-jose[cryptography]
aiosmtplib
opencv-python
opencv-python-headless
numpy
json
pydantic
pyJWT
email
mediapipe
websockets   # <- Add this line
